---
# 基站配置
# 纬度：南值是负数
# 经度：西值为负
latitude: 37.67 
longitude: 118.08

# 时区与 UTC 的偏移量（例如，“-5”表示美国东部时间）
timezone_offset: 8

#ntp配置
# ntp_server -如果你有一个本地服务器（例如stratum1），你可以使用这个设置
# 指定主机名或IP地址与ntp服务器通信 
ntp_server: 'ntp1.aliyun.com'

# 运行测试脚本时的测试设置
# test_gain -用于扫描仪测试脚本的增益
# test_sdr_device_id -用于扫描仪测试脚本的 SDR 设备的设备 ID
# test_enable_bias_tee -运行扫描仪测试脚本时是否启用bias tee
# test_freq_offset -接收器频率偏移（PPM） 
test_gain: 7.7
test_sdr_device_id: 0
test_enable_bias_tee: false
test_freq_offset: 0

# 接收器设置
#meteor_receiver -要使用的接收器方法（'rtl_fm' 或 'gnuradio'）
# **警告**：'gnuradio' 不适用于某些 SDR 设备（例如，它目前不会
# 使用 RTL-SDR v3 加密狗，因为不会从比特流中解码图像） 
meteor_receiver: 'rtl_fm'

# 是否安排特定的轨道物体进行捕获
# <satellite_name>_schedule -是否为卫星安排捕获
# <satellite_name>_sdr_device_id -用于记录卫星的 SDR 设备的设备 ID
# <satellite_name>_freq_offset -卫星捕获的接收器频率偏移 (PPM)
# <satellite_name>_enable_bias_tee -是否为记录卫星启用bias tee
# <satellite_name>_gain -特定卫星捕获的增益设置
# <satellite_name>_sun_min_elevation -特定卫星捕获的太阳高度阈值
# <satellite_name>_sat_min_elevation -特定卫星捕获的卫星高程阈值
# <satellite_name>_memory_threshold -对于 METEOR 卫星，在 RAM 中存储传递所需的最小可用内存 (MB)

noaa_15_schedule: true
noaa_15_sdr_device_id: 0
noaa_15_freq_offset: 0
noaa_15_enable_bias_tee: false
noaa_15_gain: 7.7
noaa_15_sun_min_elevation: 0
noaa_15_sat_min_elevation: 25

noaa_18_schedule: true
noaa_18_sdr_device_id: 0
noaa_18_freq_offset: 0
noaa_18_enable_bias_tee: false
noaa_18_gain: 7.7
noaa_18_sun_min_elevation: 0
noaa_18_sat_min_elevation: 25

noaa_19_schedule: true
noaa_19_sdr_device_id: 0
noaa_19_freq_offset: 0
noaa_19_enable_bias_tee: false
noaa_19_gain: 7.7
noaa_19_sun_min_elevation: 0
noaa_19_sat_min_elevation: 25

meteor_m2_schedule: true
meteor_m2_sdr_device_id: 0
meteor_m2_freq_offset: 0
meteor_m2_enable_bias_tee: false
meteor_m2_gain: 7.7
meteor_m2_sun_min_elevation: 0
meteor_m2_sat_min_elevation: 25
meteor_m2_memory_threshold: 600

# 计划通过多少天 -注意这必须是一个偶数，
# 并且当天算作“1” -通行证将被安排到午夜
# of the `days_to_schedule_passes` 最后一天
#
# 注意：如果您想将此值设置为低于先前配置的值
# 值，您必须手动运行调度脚本并传递“-x”开关
# 重新运行 ./install_and_upgrade.sh 脚本以对齐变量后：
# ./scripts/schedule.sh -x 
days_to_schedule_passes: 8

#创建图像后是否应删除音频文件
delete_audio: false

# 处理设置
# flip_meteor_image -是否应该翻转流星图像
#produce_spectrogram -是否生成录音的频谱图
# noaa_crop_telemetry -是否在图像捕获中裁剪左/右遥测
# image_annotation_location -在图像中放置注释的位置 -有效选项是：
# 西北，北，东北，西，中心，东，西南，南，东南
#extend_for_annotation -是否在北/南位置创建黑色扩展
# 放置注释的图像（与覆盖在捕获的数据上）
#（注意：这仅在 image_annotation_location 不是 [West|Center|East] 之一时才有效）
#produce_noaa_pristine_image -是否为更大的图像生成原始图像（未修改）
# 基于复合的用例
#produce_noaa_pristine_histogram -是否生成 NOAA 原始图像的直方图
# 注意：必须启用produce_noaa_pristine_image 才能生成直方图
#produce_polar_az_el_graph -是否生成显示pass的极坐标图
# 整个过程中的方位角和仰角，截断为卫星最小仰角
#produce_polar_direction_graph -是否生成显示pass的极坐标图
# 传递过程中的方向，包括 AOS 和 LOS
# ground_station_location -用于在图像中指示地面站位置的自由格式文本
# annotation（如果您希望排除地面站注释，请留空）
# 天线信息 -用于指示图像中天线信息的自由格式文本
# annotation（如果您希望排除天线注释，请留空）
# show_sun_elevation -是否在注释中显示太阳高度
# show_pass_direction -显示卫星在图像注释中移动的方向
# noaa_daytime_enhancements -在白天拍摄期间使用的增强功能列表
#（注意：默认值是支持的图像处理器的总列表）
# noaa_nighttime_enhancements -在夜间捕获期间使用的增强功能列表
#（注意：默认值是支持的图像处理器的总列表）
# noaa_crop_toptobottom -是否从 noaa 捕获中裁剪顶部和底部噪声
# noaa_interpolate -是否对图像进行插值和过采样（生成较大的图像） 
flip_meteor_image: true
produce_spectrogram: false
noaa_crop_telemetry: false
image_annotation_location: 'NorthWest'
extend_for_annotation: false
produce_noaa_pristine_image: true
produce_noaa_pristine_histogram: false
produce_polar_az_el_graph: false
produce_polar_direction_graph: true
ground_station_location: 'Shandong'
antenna_info: 'Adam-9A4QV__V-Dipole Antenna'
show_sun_elevation: true
show_pass_direction: true
noaa_daytime_enhancements: 'ZA MCIR MCIR-precip MSA MSA-precip HVC HVC-precip HVCT HVCT-precip therm avi'
noaa_nighttime_enhancements: 'ZA MCIR HVCT MCIR-precip therm avi'
noaa_crop_toptobottom: true
noaa_interpolate: true

# noaa 地图配置
# http://usradioguy.com/wp-content/uploads/2020/05/wxtoimgcommand-line.pdf
#
# 注意 -颜色的格式为 0xRRGGBB（仅适用于
# 功能已启用），其中：
# RR：红色十六进制值
# GG：绿色十六进制值
# BB：蓝色十六进制值
# 颜色也可以指定为以下之一：
#黑色、白色、灰色、浅灰色、深灰色、红色、粉红色、深红色、
#浅红色，#绿色，浅绿色，深绿色，黑绿色，蓝色，
#浅蓝，深蓝，黑蓝，黄，浅黄，深黄，
# 洋红色、浅洋红色、深洋红色、青色、浅青色、深青色、
#橙色，深橙色，紫色，薰衣草，紫罗兰，海军，绿松石，
# 海蓝宝石、黄绿色、金色、米色、棕褐色、棕色和栗色
#
# noaa_map_crosshair_enable -是否在基站位置放置十字准线
# noaa_map_crosshair_color -基站十字准线的颜色
# noaa_map_grid_degrees -每个网格度数绘制的纬度/经度线（默认为 10.0，0.0 禁用）
# noaa_map_grid_color -纬度/经度的网格线颜色
# noaa_map_country_border_enable -是否在图片中启用国家边界
# noaa_map_country_border_color -国家边界颜色
# noaa_map_state_border_enable -是否在图像中启用状态边界（仅限美洲）
# noaa_map_state_border_color -州边界的颜色（仅限美洲）
noaa_map_crosshair_enable: true
noaa_map_crosshair_color: "0xffff00"
noaa_map_grid_degrees: 10.0
noaa_map_grid_color: "0xff0000"
noaa_map_country_border_enable: true
noaa_map_country_border_color: "0xffff00"
noaa_map_state_border_enable: true
noaa_map_state_border_color: "0xffff00"

# NOAA 捕获的热图输出设置
# noaa_thermal_temp_overlay -是否将颜色代码的热图叠加到温度
# noaa_thermal_temp_overlay_location -在图像中放置热图的位置 -有效选项是：
# 西北，北，东北，西，中心，东，西南，南，东南 
noaa_thermal_temp_overlay: true
noaa_thermal_temp_overlay_location: 'NorthEast'

# 时区和语言的区域设置
# 时区：参见 https://www.php.net/manual/en/timezones.php
# lang_setting：查看“webpanel/App/Lang”文件夹中是否可用
# 语言（2 个字母的文件名 -例如 ar、bg、cn、de、en、es、nl、sr）
timezone: Asia/Shanghai
lang_setting: cn

# Web 服务器配置设置
# web_server_name -用于 TLS 证书和 web 端点的服务器名称 -这必须是
# 可解析到此主机的 IP（如果您没有 DNS，只需使用
#树莓派主机的IP）
# enable_non_tls -是否启用明文网络侦听器（默认端口 80）
# web_port -运行 web 服务器明文（非加密）端点的端口
# enable_tls -是否启用 TLS 加密的 web 侦听器（默认端口 443）
# web_tls_port -运行 TLS 侦听器的端口
# cert_valid_days -TLS 证书应有效的天数 -请注意
# 一旦此时间表到期，您将需要重新安装证书
# lock_admin_page -尝试访问管理页面时是否需要用户名/密码
# webpanel -警告：除非您只有 TLS，否则不要将其设置为 TRUE
# 启用站点 -设置为真实并运行明文站点几乎是肯定的
# 请求您的凭据被盗
# admin_username -用于访问网络面板的“admin”端点的用户名（警告：请参阅上面的“lock_admin_page”）
# admin_password -用于访问网络面板的“admin”端点的密码（警告：请参阅上面的“lock_admin_page”）
# 注意：确保您将其设置为合理复杂的内容！
# web_passes_date_format -在传递列表视图中显示日期的格式 -请注意，这必须符合
# https://www.php.net/manual/en/datetime.format.php 否则会发生不好的事情
# web_datetime_format -在 web 界面中显示日期和时间以进行捕获的格式 -请注意，这必须符合
# https://www.php.net/manual/en/datetime.format.php 否则会发生不好的事情 
web_server_name: raspberry-noaa.localdomain
enable_non_tls: true
web_port: 80
enable_tls: false
web_tls_port: 443
cert_valid_days: 365
lock_admin_page: false
admin_username: 'admin'
admin_password: 'admin'
web_passes_date_format: 'm/d/Y'
web_datetime_format: 'm/d/Y H:i:s'

# 脚本输出的日志级别
log_level: DEBUG

# 是否启用卫星跟踪的satvis可视化
# 在 pass 视图中 -请注意，这个 iframe 驱动的可视化是
# 默认情况下在“超小型”设备（例如手机）上禁用，因为
# 加工和空间要求
enable_satvis: false

# 是否启用pass view中的图片视频——注意这个
# 默认情况下在“超小型”设备（例如手机）上禁用
#对加工和空间要求 
enable_animation: false

# 修剪功能 -必须在 cron 中配置（参见文档）
# delete_oldest_n -每次运行要删除多少最早的捕获
# delete_older_than_n -删除所有比这个天数早的图像
delete_oldest_n: 0
delete_older_than_n: 31

# 操作系统配置
# disable_wifi_power_mgmt -如果运行无线互联网并且您想要
# 禁用 wifi 设备的“睡眠”模式（假设它是 wlan0），设置
# 这为真（注意：更新这需要重新启动）
# disable_at_mail -如果您不希望“at”在作业执行后发送邮件
disable_wifi_power_mgmt: false
disable_at_mail: true

# 推送处理设置以将图像发送到别处
# *注意：确保在启用电子邮件推送之前设置您的 ~/.msmtprc 文件！
# enable_email_push -是否将所有图像发送到外部电子邮件
# email_push_address -如果启用，将所有图像发送到的地址
# enable_email_schedule_push -是否通过电子邮件发送每晚创建的图像
# 传递列表计划到电子邮件目的地
# enable_discord_push -是否将图像推送到 Discord 频道
# discord_webhook_url -Discord 频道的 webhook url
# enable_twitter_push -是否将图像推送到 Twitter 提要
# *有关说明，请参阅 docs/twitter_push.md
# enable_matrix_push -是否将图像推送到矩阵房间
# *有关说明，请参阅 docs/matrix_push.md 
enable_email_push: false
email_push_address: test@ifttt.com
enable_email_schedule_push: false
enable_discord_push: false
discord_webhook_url: ''
enable_twitter_push: false
enable_slack_push: false
slack_push_url: ''
slack_push_to: ''
slack_link: 'https://XXXX/captures/listImages'
enable_matrix_push: false
...
